body, header {
    background-color: #202124;
}
body{
    font-family: 'Share Tech Mono', monospace;
    width: 100%;
    margin: 0;
}
/**/
/*Start Header*/
/**/
header{
    position: fixed;
    top: 0;
    width: inherit;
}
nav, hr{
    margin-left: 4rem !important;
    margin-right: 4rem !important;

    border: 1px dotted;
}
nav, nav ul{
    display: flex;
    align-items: center;
}
nav h1, nav ul{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;


    border-top: 1px solid pink;
    border-bottom: 1px solid pink;
}
nav h1{
    flex: 0 0 50%;
    max-width: 50%;
    color: white;
}
nav ul{
    list-style-type: none;
    flex: 0 0 50%;
    max-width: 50%;
    justify-content: flex-end;
}

nav ul li{
    width: 10rem;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid;
}
hr{
    margin-top: 0;
    margin-bottom: 0;
    height: 1px;
    border: 0;
    background-color: white; 
}
/**/
/*Start Main Content*/
/**/
main {
    border: 1px solid purple;
    margin-top: 4rem;
    padding: 1rem;
}
.linechart, .transactionlist, .piechart, .percentagelist{
    padding: 1rem;
}
.linechart {
    border: 1px solid red;
}
.transactionlist {
    border: 1px solid blue;
}
.piechart {
    border: 1px solid yellow;
}
.percentagelist {
    border: 1px solid green;
}
/**/
/*Start Footer*/
/**/
footer{
    border: 1px solid orange;
    margin-top: 1rem;
}